@import url('bootstrap/dist/css/bootstrap.min.css');

body {
    background-color: whitesmoke;
}

.link {
    color: rgb(153, 143, 143);
    font-size: 17px;
    text-decoration: none;
}

.link:hover {
    color: rgb(218, 201, 201);
}

.active {
    color: white;
    font-size: 17px;
    text-decoration: none;
}

h3 {
    margin-top: 1em;
    text-align: center;
}

.form {
    margin: 2em;
}

.main-container {
    margin: 1em 2em;
}

.buttons {
    margin-top: 1em;
}

pre {
    margin: 0.5em 0em 0em 1em;
}